<div class="jumbotron">
    <h1>The Onion Peeler</h1>
    <p class="lead">Press the button to find articles from The Onion.</p>
    <p class="lead">Or use the navigation bar to see scraped and saved articles.</p>
    <button class="btn btn-success" id="scrape-btn">Scrape Articles</button>
</div>
<div class="all-div">
    {{#each articles}}
        <div class="article-div" >
            <h3 class="article-title">{{this.title}}</h3>
            <h4 class="article-link">{{this.link}}</h4>

            <form action="/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="save" value="true">
            <button type="submit">Save</button>
            </form>
        </div>
    {{/each}}
</div>