<div class="jumbotron">
    <h1>The Onion Peeler</h1>
    <p class="lead">Save articles for comments later.</p>
    <p class="lead">Or use the navigation bar to see saved articles and comments.</p>
</div>
<div class="all-div">
    {{#each articles}}
        <div class="article-div" >
            <h3 class="article-title">{{this.title}}</h3>
            <h4 class="article-link"><a href="{{this.link}}">{{this.link}}</a></h4>
            <button data-id='{{this.id}}' id='savearticle'>Save Article</button>
        </div>
    {{/each}}
</div>